{% extends 'base.html' %}

{% block title %}
    Изменить объявление
{% endblock %}

{% block content %}
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; margin-bottom: 20px;">Изменить объявление</h2>
        <form enctype="multipart/form-data" action="{% url 'advertisements:update' advertisement.pk %}" method="post">
            {% include 'form.html' with form=form button_text='Edit' %}
        </form>
    </div>
{% endblock %}
