{% extends 'base.html' %}

{% block title %}
    Модерация объявлений
{% endblock %}

{% block content %}
    <div style="max-width: 800px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; margin-bottom: 20px;">Модерация объявлений</h2>
        {% for advertisement in advertisements %}
            <div style="border-bottom: 1px solid #ddd; padding: 10px 0; display: flex; align-items: center;">
                {% if advertisement.image %}
                    <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}" style="max-width: 150px; max-height: 100px; object-fit: cover; margin-right: 15px; border-radius: 8px;">
                {% endif %}
                <a href="{% url 'moderators:advertisement_detail' advertisement.pk %}" style="font-size: 16px; color: #333; text-decoration: none; flex: 1;">{{ advertisement.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
